section {
    background-color: #7400b8;
    width: 500px;
    height: 500px;
}

div {
    background-color: #80ffdb;
    width: 50%;
    height: 50%;
}

#ems h1 {
    font-size: 40px;
    border: 1px solid black;
    line-height: 200%;
    /* or 80px i.e. to the font size. */
}

#ems h2 {
    font-size: 2em;
    margin-left: 1em;
}

#ems h3 {
    font-size: 1.5em;
}

#ems p {
    font-size: 1em;
}

#ems article {
    font-size: 20px;
}


/* without ems */


/* button {
    font-size: 20px;
    padding: 0, 20px;
    border-radius: 15px;
    color: #eae2b7;
    background-color: #f4a261;
} */


/* with ems */

#ems button {
    font-size: 5em;
    padding: 0, 1em;
    border-radius: 0.8em;
    color: #eae2b7;
    background-color: #f4a261;
}


/* ems relative sizing issue */


/* #ems ul {
    font-size: 1.5em;
} */

#rems h2 {
    font-size: 3rem;
}

#rems h2 {
    font-size: 2rem;
}

#rems ul {
    font-size: 0.8rem;
}

#rems button {
    font-size: 1.5rem;
}

html {
    font-size: 20px;
}