<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <h1>The Home Page
        <%= 4 + 5 + 1%>
            <%= 'Hello World'.toUpperCase()  %>
    </h1>

    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat ullam magnam id temporibus accusantium. Dignissimos id, explicabo illum distinctio culpa iusto obcaecati iure incidunt maxime tenetur, consequuntur, architecto perferendis tempora.
        Magni ab suscipit, id, animi maiores quaerat minima corrupti at quam ipsa unde itaque repellendus possimus. Iure nam id, ex neque fugit fugiat minus itaque dolorem quisquam unde voluptas in.</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia maiores dolor tenetur, recusandae reiciendis rem dignissimos illum tempore, ipsum doloribus, nemo deserunt nam magnam pariatur praesentium debitis ratione a expedita?</p>
</body>

</html>